html, body
{
	color: #fafafa;
	background: #222222;
	font-family: Arial;
}

a
{
	color: #008ab8;
	text-decoration: none;
}

a:hover
{
	text-decoration: underline;
}

#main
{
	width: 920px;
	margin: 10px auto;
}

#dragdrop
{
	color: inherit;
	background: #282828;
	font-size: 25px;
	text-align: center;
	padding: 20px;
	border: 1px solid #444444;
	border-radius: 0.2em;
}

#info
{
	color: #dddddd;
	line-height: 23px;
	margin: 10px 0px;
}

div.result
{
	border: 1px solid #444444;
	border-radius: 5px;
}

div.result canvas
{
	margin: 10px;
}

div.result div
{
	text-align: center;
	margin: 10px;
}

@media only screen and (max-width: 920px)
{
	
#main
{
	width: auto;
	margin: 10px;
}

}
